connector-server-zip/target/
connector-framework/target/
connector-framework-internal/target/
connector-framework-contract/target/
connector-framework-osgi/target/
connector-test-common/target/
slf4j-logging/target/
testbundlev1/target/
testbundlev2/target/
testcommonv1/target/
testcommonv2/target/

#Visual C# stuff

dotnet/BooScriptExecutorFactory/version.txt
dotnet/Common/version.txt
dotnet/Framework/version.txt
dotnet/FrameworkInternal/version.txt
dotnet/FrameworkTests/version.txt
dotnet/PowerShellScriptExecutorFactory/version.txt
dotnet/Service/version.txt
dotnet/ServiceInstall/Files.wxs
dotnet/ShellScriptExecutorFactory/version.txt
dotnet/TestCommon/version.txt
dotnet/UpgradeLog.XML
dotnet/UpgradeLog.htm
dotnet/_UpgradeReport_Files/
*.dll
*.exe
AssemblyInfo.cs
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
dotnet/*.bat
