java/connector-server-zip/target/
java/connector-framework/target/
java/connector-framework-internal/target/
java/connector-framework-contract/target/
java/connector-framework-osgi/target/
java/connector-test-common/target/
java/slf4j-logging/target/
java/testbundlev1/target/
java/testbundlev2/target/
java/testcommonv1/target/
java/testcommonv2/target/
java/target/
java/archetype/target/

#IntelliJ IDEA stuff
java/.idea/
*.iml
.idea/
.editorconfig

#Visual C# stuff

dotnet/BooScriptExecutorFactory/version.txt
dotnet/Common/version.txt
dotnet/Framework/version.txt
dotnet/FrameworkInternal/version.txt
dotnet/FrameworkTests/version.txt
dotnet/PowerShellScriptExecutorFactory/version.txt
dotnet/Service/version.txt
dotnet/ServiceInstall/Files.wxs
dotnet/ShellScriptExecutorFactory/version.txt
dotnet/TestCommon/version.txt
dotnet/UpgradeLog.XML
dotnet/UpgradeLog.htm
dotnet/_UpgradeReport_Files/
*.dll
*.exe
AssemblyInfo.cs
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
dotnet/*.bat
