<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- Example connection to a SQL Server Database on localhost. -->
        <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
    </connectionStrings>
    <appSettings>
        <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
        -->
        <add key="connectorserver.port" value="8759" />
        <add key="connectorserver.usessl" value="false" />
        <add key="connectorserver.certificatestorename" value="ConnectorServerSSLCertificate" />
        <add key="connectorserver.ifaddress" value="0.0.0.0" />
        <add key="connectorserver.key" value="lmA6bMfENJGlIDbfrVtklXFK32s=" />
        <!--
            Enable/Disable the logging proxy for all operations.
        -->
        <add key="logging.proxy" value="false"/>
     </appSettings>
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <remove name="Default" />
          <add name="myListener"  type="System.Diagnostics.TextWriterTraceListener"    
               initializeData="c:\connectorserver.log"
               traceOutputOptions="DateTime"
            >
             <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>           
           </add>
        </listeners>
      </trace>
    </system.diagnostics>

</configuration>
