<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
     -->
    <add key="connectorserver.port" value="8759" />
    <add key="connectorserver.usessl" value="false" />
    <add key="connectorserver.certificatestorename" value="ConnectorServerSSLCertificate" />
    <add key="connectorserver.ifaddress" value="0.0.0.0" />
    <add key="connectorserver.key" value="lmA6bMfENJGlIDbfrVtklXFK32s=" />
    <!--
            Enable/Disable the logging proxy for all operations.
        -->
    <add key="logging.proxy" value="false"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="ActiveDirectoryConnector"
        switchName="ActiveDirectoryConnector"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ActiveDirectoryConnector.Api"
        switchName="ActiveDirectoryConnector.Api"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ActiveDirectoryConnector.PowerShell"
        switchName="ActiveDirectoryConnector.PowerShell"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ActiveDirectoryConnector.PowerShell.Commands"
        switchName="ActiveDirectoryConnector.PowerShell.Commands"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ActiveDirectoryConnector.PowerShell.Performance"
        switchName="ActiveDirectoryConnector.PowerShell.Performance"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ActiveDirectoryConnector.Scripting"
        switchName="ActiveDirectoryConnector.Scripting"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ExchangeConnector"
        switchName="ExchangeConnector"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ExchangeConnector.Api"
        switchName="ExchangeConnector.Api"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ExchangeConnector.PowerShell"
        switchName="ExchangeConnector.PowerShell"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ExchangeConnector.AccountHandler"
        switchName="ExchangeConnector.AccountHandler"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>

    <switches>
      <add name="ActiveDirectoryConnector" value="Verbose"/>
      <add name="ActiveDirectoryConnector.Api" value="Verbose"/>
      <add name="ActiveDirectoryConnector.PowerShell" value="Verbose"/>
      <add name="ActiveDirectoryConnector.PowerShell.Commands" value="Verbose"/>
      <add name="ActiveDirectoryConnector.PowerShell.Performance" value="Verbose"/>
      <add name="ActiveDirectoryConnector.Scripting" value="Verbose"/>
      <add name="ExchangeConnector" value="Verbose"/>
      <add name="ExchangeConnector.Api" value="Verbose"/>
      <add name="ExchangeConnector.PowerShell" value="Verbose"/>
      <add name="ExchangeConnector.AccountHandler" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="myListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="connectorserver.log"
        traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Verbose"/>
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener"/>  
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
