<?xml version="1.0" encoding="utf-8" ?>
<config>
  <property name="String" value="retipipiter"/>
  <property name="StringArray" value="value1"/>
  <property name="StringArray" value="value2"/>
  <property name="StringArray" value="value3"/>
  <property name="Long" value="11"/>
  <property name="LongArray" value="12"/>
  <property name="LongArray" value="13"/>
  <property name="LongObject" value="14"/>
  <property name="LongObjectArray" value="15"/>
  <property name="LongObjectArray" value=""/>
  <property name="Char" value="a"/>
  <property name="CharArray" value="b"/>
  <property name="CharArray" value="c"/>
  <property name="Character" value="d"/>
  <property name="CharacterArray" value="e"/>
  <property name="CharacterArray" value="f"/>
  <property name="Double" value="0"/>
  <property name="DoubleArray" value="0"/>
  <property name="DoubleArray" value="100"/>
  <property name="DoubleObject" value="0"/>
  <property name="DoubleObjectArray" value="0"/>
  <property name="DoubleObjectArray" value="100"/>
  <property name="Float" value="0"/>
  <property name="FloatArray" value="0"/>
  <property name="FloatArray" value="100"/>
  <property name="FloatObject" value=""/>
  <property name="FloatObjectArray" value="0"/>
  <property name="FloatObjectArray" value="100"/>
  <property name="Int" value="0"/>
  <property name="IntArray" value="0"/>
  <property name="IntArray" value="100"/>
  <property name="Integer" value="0"/>
  <property name="IntegerArray" value="0"/>
  <property name="IntegerArray" value="100"/>
  <property name="Boolean" value="true"/>
  <property name="BooleanArray" value="true"/>
  <property name="BooleanArray" value="false"/>
  <property name="BooleanObject" value="false"/>
  <property name="BooleanObjectArray" value="true"/>
  <property name="BooleanObjectArray" value="false"/>
  <property name="URI" value="http://localhost:8080"/>
  <property name="URIArray" value="http://localhost:8080"/>
  <property name="URIArray" value="http://localhost:8443"/>
  <property name="File" value="c:\Users\Admin"/>
  <property name="FileArray" value="c:\Users\Admin\Documents"/>
  <property name="FileArray" value="c:\Users\Admin\Settings"/>
  <property name="GuardedByteArray" value="array"/>
  <property name="GuardedByteArrayArray" value="item1"/>
  <property name="GuardedByteArrayArray" value="item2"/>
  <property name="GuardedString" value="secret"/>
  <property name="GuardedStringArray" value="secret1"/>
  <property name="GuardedStringArray" value="secret2"/>
  <property name="Script" value="PowerShell|echo 'Hello OpenICF Developer'"/>
  <property name="ScriptArray" value="Groovy|println 'Hello'"/>
  <property name="ScriptArray" value="Groovy|println 'OpenICF Developer'"/>
</config>
